/*全局样式，用来控制浮动，清除浮动，鼠标手势等*/
.fl{
  float: left;
}
.fr{
  float: right;
}
.cl::after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
.pointer{
  cursor: pointer;
}
.flex{
  display: flex;
}
.flex-left{
  width: 100px;
  height: 100%;
  background: antiquewhite;
  flex-basis:100px;
}
.flex-right{
  flex: 1;
  width: calc(100% - 200px);
}
.flex-box{
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
}
